@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
  --color-brand-yellow: #facc15;
  --color-brand-orange: #f97316;
  --color-brand-green: #4ade80;
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-x: hidden;
  }
}
